STEP_2/nifi/flows/rms_data_migration-version-2.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":344.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"69c7022b-2c36-3603-b26c-884d0d3bcced","instanceIdentifier":"33fb3130-6478-191d-8f64-df29ab6d0859","name":"Execute select queries","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"a3c16414-6db1-317d-a18d-2a9ae4ccbdfa","instanceIdentifier":"9f1dd679-019c-1000-0000-000000d7d56d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"933f45f1-2e9b-3ae7-a3a7-eea009b6bcec","instanceIdentifier":"46233a79-883d-1fb1-9bde-f442094c936b","name":"Rate-limited retry","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"6fe3231d-f74b-32e1-9d87-819dd2463701","instanceIdentifier":"0f0832f6-76ee-1001-adaf-3111c25031fb","name":"List root tables","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"389fa006-1a5d-3f42-8b4c-2cfbbb4ae07d","instanceIdentifier":"44633fee-fca2-14c1-0000-00001ce6301e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"00d86c7c-c055-369e-99b8-bc7ddd07cda3","instanceIdentifier":"44633f9e-fca2-14c1-99be-728fa109cecf","name":"GenerateFlowFile","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":-184.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"11d1ae5e-286a-3062-9ac3-806ccaa2aeba","instanceIdentifier":"1954302b-46f0-1bb7-9951-eeb29f71ee1c","name":"Rate-limited retry","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"cf1f338f-5d2e-3644-9a56-94cc85af06ee","instanceIdentifier":"44634136-fca2-14c1-ffff-ffffa94b0b7e","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"6fe3231d-f74b-32e1-9d87-819dd2463701","instanceIdentifier":"0f0832f6-76ee-1001-adaf-3111c25031fb","name":"List root tables","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":-264.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"6fe3231d-f74b-32e1-9d87-819dd2463701","instanceIdentifier":"0f0832f6-76ee-1001-adaf-3111c25031fb","name":"List root tables","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"d0ab872b-0065-31a5-b893-51792b62f091","instanceIdentifier":"11da7d1b-3511-1593-0000-000004e2fd52","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"11d1ae5e-286a-3062-9ac3-806ccaa2aeba","instanceIdentifier":"1954302b-46f0-1bb7-9951-eeb29f71ee1c","name":"Rate-limited retry","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"71bd7a34-32b5-3ed5-9211-c6907e02ab04","instanceIdentifier":"33fb37f5-6478-191d-0000-000059876af8","name":"Generate select queries","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"2cf1fe73-94ae-3017-9c28-e2c1a3f1e0f4","instanceIdentifier":"33fb38b2-6478-191d-0000-000039c2bb7d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"6fe3231d-f74b-32e1-9d87-819dd2463701","instanceIdentifier":"0f0832f6-76ee-1001-adaf-3111c25031fb","name":"List root tables","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"e9609ff2-9523-368a-a12d-10641469971a","instanceIdentifier":"11da7ddb-3511-1593-ffff-ffffd846e1ae","name":"loop","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"72a80305-7911-30c6-9127-3f4bff9ed856","instanceIdentifier":"33fb38b6-6478-191d-0000-0000073135b7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"71bd7a34-32b5-3ed5-9211-c6907e02ab04","instanceIdentifier":"33fb37f5-6478-191d-0000-000059876af8","name":"Generate select queries","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":24.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"a96bbe33-6046-3c01-86dc-a5107197cd0c","instanceIdentifier":"11da3854-3511-1593-93c6-d75d2837427a","name":"Rate-limited retry","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"47d78cca-f87f-3e33-b169-9a5962117b6e","instanceIdentifier":"33fb38bb-6478-191d-ffff-ffffe4f45249","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"71bd7a34-32b5-3ed5-9211-c6907e02ab04","instanceIdentifier":"33fb37f5-6478-191d-0000-000059876af8","name":"Generate select queries","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":152.0,"y":184.0},{"x":152.0,"y":88.0},{"x":152.0,"y":-16.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"71bd7a34-32b5-3ed5-9211-c6907e02ab04","instanceIdentifier":"33fb37f5-6478-191d-0000-000059876af8","name":"Generate select queries","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"9ba504fa-a46f-375d-ae7f-57195557d637","instanceIdentifier":"33fb38c7-6478-191d-0000-000040bea08a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"e9609ff2-9523-368a-a12d-10641469971a","instanceIdentifier":"11da7ddb-3511-1593-ffff-ffffd846e1ae","name":"loop","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":424.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"933f45f1-2e9b-3ae7-a3a7-eea009b6bcec","instanceIdentifier":"46233a79-883d-1fb1-9bde-f442094c936b","name":"Rate-limited retry","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"1d91201a-b7a1-3618-9957-945ce5b79396","instanceIdentifier":"9f1dc558-019c-1000-ffff-ffff924ba21f","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"69c7022b-2c36-3603-b26c-884d0d3bcced","instanceIdentifier":"33fb3130-6478-191d-8f64-df29ab6d0859","name":"Execute select queries","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":544.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"554e4174-a8b5-3d35-b9ec-f512f57b1ba6","instanceIdentifier":"9f173c3a-33e5-1291-972b-1e6153c6dca1","name":"Insert data into target","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"e1fe9036-e444-33ea-9750-d4392920fd09","instanceIdentifier":"987e3be2-287a-194f-0000-000039818892","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"bc4bc143-ecf7-31d7-838b-a0943dc90a0d","instanceIdentifier":"987e3bc9-287a-194f-a1ab-6c1b32f256f6","name":"Rate-limited retry","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":-56.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"71bd7a34-32b5-3ed5-9211-c6907e02ab04","instanceIdentifier":"33fb37f5-6478-191d-0000-000059876af8","name":"Generate select queries","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"d9d962cd-2e38-3d11-839b-7e263a6b445b","instanceIdentifier":"33fb38bf-6478-191d-ffff-ffffc043d82f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"a96bbe33-6046-3c01-86dc-a5107197cd0c","instanceIdentifier":"11da3854-3511-1593-93c6-d75d2837427a","name":"Rate-limited retry","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":776.0,"y":624.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"bc4bc143-ecf7-31d7-838b-a0943dc90a0d","instanceIdentifier":"987e3bc9-287a-194f-a1ab-6c1b32f256f6","name":"Rate-limited retry","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"3d275d8e-9965-3c0b-beda-65dfc3218a7b","instanceIdentifier":"987e3bde-287a-194f-ffff-ffffdb9c0103","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"554e4174-a8b5-3d35-b9ec-f512f57b1ba6","instanceIdentifier":"9f173c3a-33e5-1291-972b-1e6153c6dca1","name":"Insert data into target","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"69c7022b-2c36-3603-b26c-884d0d3bcced","instanceIdentifier":"33fb3130-6478-191d-8f64-df29ab6d0859","name":"Execute select queries","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"a2868288-14af-39cc-9eed-3c64cef1a919","instanceIdentifier":"33fb3138-6478-191d-ffff-ffffebe31ae8","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"e9609ff2-9523-368a-a12d-10641469971a","instanceIdentifier":"11da7ddb-3511-1593-ffff-ffffd846e1ae","name":"loop","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"554e4174-a8b5-3d35-b9ec-f512f57b1ba6","instanceIdentifier":"9f173c3a-33e5-1291-972b-1e6153c6dca1","name":"Insert data into target","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"ff52a5a6-89d8-3f69-903b-80fcdfd83f70","instanceIdentifier":"9f1f6a50-019c-1000-ffff-ffff8301139a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","id":"69c7022b-2c36-3603-b26c-884d0d3bcced","instanceIdentifier":"33fb3130-6478-191d-8f64-df29ab6d0859","name":"Execute select queries","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[{"bulletinLevel":"WARN","bundle":{"artifact":"nifi-dbcp-service-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.24.0"},"type":"org.apache.nifi.dbcp.DBCPService"}],"groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"1ad96102-42dc-3f54-b141-9362dddf5e9f","instanceIdentifier":"09413937-0804-1028-b193-a984ad570f4a","name":"postgres_source","properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{postgres_class}","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"#{postgres_source_connections}","dbcp-max-conn-lifetime":"-1","Database Connection URL":"#{postgres_source_url}","dbcp-time-between-eviction-runs":"-1","Database User":"#{postgres_source_user}","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{postgres_driver}","dbcp-max-idle-conns":"1","Password":"#{postgres_source_password}"},"propertyDescriptors":{"kerberos-password":{"displayName":"Kerberos Password","identifiesControllerService":false,"name":"kerberos-password","sensitive":true},"dbcp-min-idle-conns":{"displayName":"Minimum Idle Connections","identifiesControllerService":false,"name":"dbcp-min-idle-conns","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Driver Class Name":{"displayName":"Database Driver Class Name","identifiesControllerService":false,"name":"Database Driver Class Name","sensitive":false},"dbcp-min-evictable-idle-time":{"displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-min-evictable-idle-time","sensitive":false},"kerberos-principal":{"displayName":"Kerberos Principal","identifiesControllerService":false,"name":"kerberos-principal","sensitive":false},"Max Total Connections":{"displayName":"Max Total Connections","identifiesControllerService":false,"name":"Max Total Connections","sensitive":false},"kerberos-credentials-service":{"displayName":"Kerberos Credentials Service","identifiesControllerService":true,"name":"kerberos-credentials-service","sensitive":false},"dbcp-max-conn-lifetime":{"displayName":"Max Connection Lifetime","identifiesControllerService":false,"name":"dbcp-max-conn-lifetime","sensitive":false},"Validation-query":{"displayName":"Validation query","identifiesControllerService":false,"name":"Validation-query","sensitive":false},"Database Connection URL":{"displayName":"Database Connection URL","identifiesControllerService":false,"name":"Database Connection URL","sensitive":false},"dbcp-time-between-eviction-runs":{"displayName":"Time Between Eviction Runs","identifiesControllerService":false,"name":"dbcp-time-between-eviction-runs","sensitive":false},"Database User":{"displayName":"Database User","identifiesControllerService":false,"name":"Database User","sensitive":false},"kerberos-user-service":{"displayName":"Kerberos User Service","identifiesControllerService":true,"name":"kerberos-user-service","sensitive":false},"dbcp-soft-min-evictable-idle-time":{"displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-soft-min-evictable-idle-time","sensitive":false},"database-driver-locations":{"displayName":"Database Driver Location(s)","identifiesControllerService":false,"name":"database-driver-locations","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]},"sensitive":false},"dbcp-max-idle-conns":{"displayName":"Max Idle Connections","identifiesControllerService":false,"name":"dbcp-max-idle-conns","sensitive":false},"Password":{"displayName":"Password","identifiesControllerService":false,"name":"Password","sensitive":true}},"scheduledState":"DISABLED","type":"org.apache.nifi.dbcp.DBCPConnectionPool"},{"bulletinLevel":"WARN","bundle":{"artifact":"nifi-dbcp-service-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.24.0"},"type":"org.apache.nifi.dbcp.DBCPService"}],"groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"893055c5-0520-3843-b42a-ce15fefe4af6","instanceIdentifier":"467f39e8-56d9-10ec-ac22-62a9617d7564","name":"postgres_target","properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{postgres_class}","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"#{postgres_target_connections}","dbcp-max-conn-lifetime":"-1","Database Connection URL":"#{postgres_target_url}","dbcp-time-between-eviction-runs":"-1","Database User":"#{postgres_target_user}","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{postgres_driver}","dbcp-max-idle-conns":"1","Password":"#{postgres_target_password}"},"propertyDescriptors":{"kerberos-password":{"displayName":"Kerberos Password","identifiesControllerService":false,"name":"kerberos-password","sensitive":true},"dbcp-min-idle-conns":{"displayName":"Minimum Idle Connections","identifiesControllerService":false,"name":"dbcp-min-idle-conns","sensitive":false},"Max Wait Time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"Max Wait Time","sensitive":false},"Database Driver Class Name":{"displayName":"Database Driver Class Name","identifiesControllerService":false,"name":"Database Driver Class Name","sensitive":false},"dbcp-min-evictable-idle-time":{"displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-min-evictable-idle-time","sensitive":false},"kerberos-principal":{"displayName":"Kerberos Principal","identifiesControllerService":false,"name":"kerberos-principal","sensitive":false},"Max Total Connections":{"displayName":"Max Total Connections","identifiesControllerService":false,"name":"Max Total Connections","sensitive":false},"kerberos-credentials-service":{"displayName":"Kerberos Credentials Service","identifiesControllerService":true,"name":"kerberos-credentials-service","sensitive":false},"dbcp-max-conn-lifetime":{"displayName":"Max Connection Lifetime","identifiesControllerService":false,"name":"dbcp-max-conn-lifetime","sensitive":false},"Validation-query":{"displayName":"Validation query","identifiesControllerService":false,"name":"Validation-query","sensitive":false},"Database Connection URL":{"displayName":"Database Connection URL","identifiesControllerService":false,"name":"Database Connection URL","sensitive":false},"dbcp-time-between-eviction-runs":{"displayName":"Time Between Eviction Runs","identifiesControllerService":false,"name":"dbcp-time-between-eviction-runs","sensitive":false},"Database User":{"displayName":"Database User","identifiesControllerService":false,"name":"Database User","sensitive":false},"kerberos-user-service":{"displayName":"Kerberos User Service","identifiesControllerService":true,"name":"kerberos-user-service","sensitive":false},"dbcp-soft-min-evictable-idle-time":{"displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"name":"dbcp-soft-min-evictable-idle-time","sensitive":false},"database-driver-locations":{"displayName":"Database Driver Location(s)","identifiesControllerService":false,"name":"database-driver-locations","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]},"sensitive":false},"dbcp-max-idle-conns":{"displayName":"Max Idle Connections","identifiesControllerService":false,"name":"dbcp-max-idle-conns","sensitive":false},"Password":{"displayName":"Password","identifiesControllerService":false,"name":"Password","sensitive":true}},"scheduledState":"DISABLED","type":"org.apache.nifi.dbcp.DBCPConnectionPool"}],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","inputPorts":[],"instanceIdentifier":"659937ee-9552-1a9b-8a2d-d0050f5eca6d","labels":[{"componentType":"LABEL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","height":1152.0,"identifier":"76d571ee-bebe-3139-9dd3-0ba7dbbb3103","instanceIdentifier":"a9883ce4-63e4-102b-9bcf-480689999f53","label":"Version 1, 2 - 2026-02-27","position":{"x":-632.0,"y":-504.0},"style":{"font-size":"12px"},"width":656.0,"zIndex":0}],"logFileSuffix":"","name":"rms_data_migration","outputPorts":[],"parameterContextName":"rms_data_migration","position":{"x":-1104.0,"y":8.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-scripting-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":4,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"71bd7a34-32b5-3ed5-9211-c6907e02ab04","instanceIdentifier":"33fb37f5-6478-191d-0000-000059876af8","maxBackoffPeriod":"10 mins","name":"Generate select queries","penaltyDuration":"30 sec","position":{"x":296.0,"y":-80.0},"properties":{"Script Engine":"Groovy","Script Body":"import java.lang.StringBuilder\nimport java.util.Map\nimport java.sql.PreparedStatement\nimport java.sql.ResultSetMetaData\nimport org.postgresql.util.PGobject\nimport org.postgresql.util.PSQLException\nimport org.apache.nifi.components.state.Scope\nimport org.apache.nifi.controller.ControllerService\nimport groovy.transform.Field\nimport groovy.sql.Sql\nimport groovy.json.JsonSlurper\n\n@Field JsonSlurper parser = new JsonSlurper()\n\n@Field Map config\n\n@Field var flowFile\n\n@Field var schema\n@Field var root\n@Field var targets\n@Field var filterkey\n@Field var filter\n@Field var select\n@Field var statekey\n@Field var statemap\n@Field var state\n@Field var refMin\n@Field var refMax\n@Field var srcconn\n@Field var srcsql\n\nflowFile = session.get()\n\nif (!flowFile) {\n  return\n}\n\n\nstate = context.getStateManager().getState(Scope.CLUSTER)\nstatemap = new HashMap(state.toMap())\n\nconfig = parser.parseText(data_migration_config.value)\n\nschema = flowFile.getAttribute(\"migration.schema\")\nroot = flowFile.getAttribute(\"migration.root\")\ntargets = parser.parseText(flowFile.getAttribute(\"migration.targets\"))\nfilterkey = flowFile.getAttribute(\"migration.filter\")\nfilter = config.filters[filterkey]\n\nstatekey = filterkey + \":\" + root\nrefMin = statemap.get(statekey) ?: flowFile.getAttribute(\"migration.ref\")\nrefMax = refMin\n\nselect = config.select.default\n\nvar selectkey = schema + \".\" + root\n\nif (config.select[selectkey]) {\n  var override = config.select[selectkey]\n  if (override.lookahead) {\n    select.lookahead = override.lookahead\n  }\n  if (override.limit) {\n    select.limit = override.limit\n  }\n}\n\nif (!filter) {\n  log.error(\"unknown filter {}\", filterkey)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n  return\n}\n\nif (!filter.active) {\n  log.error(\"inactive filter {}\", filterkey)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n  return\n}\n\ndef processFilter() {\n  var targetCTEs = [\"\"]\n  var targetCountSums = [\"1\"]\n  var targetCountJoins = [\"from ids\"]\n  var targetCounts = [\"id\"]\n\n  for (var target in targets) {\n    if(target.equals(root)) {\n      continue\n    }\n\n    targetCTEs.add(\n      \"\"\"\n      ${target}_counts as (\n        select\n          nested.parent_id,\n          count(*)\n        from ids\n        join ${schema}.${target} as nested on\n          nested.parent_id = ids.id\n        group by parent_id\n      )\n      \"\"\".toString().stripIndent(4).trim()\n    )\n\n    targetCountSums.add(\"coalesce(${target}_counts.count, 0)\".toString())\n    targetCountJoins.add(\"${target}_counts on ${target}_counts.parent_id = ids.id\".toString())\n    targetCounts.add(target)\n  }\n\n  var q = \"\"\"\n  with\n  ids as (\n    select\n      id from ${schema}.${root} as root\n    where\n      ${filter.filter} and id > '${refMin}'\n    limit ${select.lookahead}\n  )${targetCTEs.join(\",\\n  \")},\n  counts as (\n    select\n      ids.id,\n      sum(${targetCountSums.join(\" + \")}) over (order by id) as rows\n    ${targetCountJoins.join(\"\\n    left join \")}\n  ),\n   lagged as (\n    select\n      id,\n      lag(rows, 1, 0) over (order by id) as rows\n    from counts\n  )\n  select max(id::text) from lagged where rows < ${select.limit}\n  \"\"\".toString().stripIndent(2)\n   \n  try {\n    srcsql.eachRow(q) { row ->\n      if (!row.max) {\n        return\n      }\n\n      refMax = row.max\n\n      var dataf = session.create(flowFile)\n      dataf = session.putAttribute(dataf, \"migration.ref.min\", refMin)\n      dataf = session.putAttribute(dataf, \"migration.ref.max\", refMax)\n      dataf = session.putAttribute(dataf, \"migration.kind\", \"data\")\n      session.transfer(dataf, REL_SUCCESS)\n\n      var loopf = session.create(flowFile)\n      loopf = session.putAttribute(loopf, \"migration.ref\", refMax)\n      loopf = session.putAttribute(loopf, \"migration.kind\", \"loop\")\n      session.transfer(loopf, REL_SUCCESS)\n    }\n  } catch (e) {\n    log.error(\"executing {}\", q, e)\n    throw e\n  }\n\n  statemap.put(statekey, refMax)\n\n  while (!context.getStateManager().replace(state, statemap, Scope.CLUSTER)) {\n    state = context.getStateManager().getState(Scope.CLUSTER)\n    statemap = new HashMap(state.toMap())\n    statemap.put(statekey, refMax)\n  }\n}\n\nvar lookup = context.controllerServiceLookup\nvar srcsvcid = lookup.getControllerServiceIdentifiers(ControllerService).find {\n  cs -> lookup.getControllerServiceName(cs) == \"postgres_source\"\n}\n\ntry {\n  srcconn = lookup.getControllerService(srcsvcid).getConnection()\n  srcsql = new Sql(srcconn);\n\n  processFilter()\n  \n  session.remove(flowFile)\n} catch (e) {\n  log.error(\"Script error when processing filter {} for {} in range {} ~ {}\", filterkey, root, refMin, refMax, e)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n} finally {\n  srcsql?.close()\n  srcconn?.close()\n}","data_migration_config":"#{data_migration_config}"},"propertyDescriptors":{"Script File":{"displayName":"Script File","identifiesControllerService":false,"name":"Script File","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false},"Script Engine":{"displayName":"Script Engine","identifiesControllerService":false,"name":"Script Engine","sensitive":false},"Script Body":{"displayName":"Script Body","identifiesControllerService":false,"name":"Script Body","sensitive":false},"data_migration_config":{"displayName":"data_migration_config","identifiesControllerService":false,"name":"data_migration_config","sensitive":false},"Module Directory":{"displayName":"Module Directory","identifiesControllerService":false,"name":"Module Directory","resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]},"sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.script.ExecuteScript","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"933f45f1-2e9b-3ae7-a3a7-eea009b6bcec","instanceIdentifier":"46233a79-883d-1fb1-9bde-f442094c936b","maxBackoffPeriod":"10 mins","name":"Rate-limited retry","penaltyDuration":"30 sec","position":{"x":912.0,"y":320.0},"properties":{"Time Duration":"1 min","Maximum Rate":"100MB","Rate Control Criteria":"data rate"},"propertyDescriptors":{"Maximum FlowFile Rate":{"displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"name":"Maximum FlowFile Rate","sensitive":false},"Time Duration":{"displayName":"Time Duration","identifiesControllerService":false,"name":"Time Duration","sensitive":false},"Grouping Attribute":{"displayName":"Grouping Attribute","identifiesControllerService":false,"name":"Grouping Attribute","sensitive":false},"Maximum Rate":{"displayName":"Maximum Rate","identifiesControllerService":false,"name":"Maximum Rate","sensitive":false},"Rate Controlled Attribute":{"displayName":"Rate Controlled Attribute","identifiesControllerService":false,"name":"Rate Controlled Attribute","sensitive":false},"Rate Control Criteria":{"displayName":"Rate Control Criteria","identifiesControllerService":false,"name":"Rate Control Criteria","sensitive":false},"Maximum Data Rate":{"displayName":"Maximum Data Rate","identifiesControllerService":false,"name":"Maximum Data Rate","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ControlRate","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-groovyx-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"6fe3231d-f74b-32e1-9d87-819dd2463701","instanceIdentifier":"0f0832f6-76ee-1001-adaf-3111c25031fb","maxBackoffPeriod":"10 mins","name":"List root tables","penaltyDuration":"30 sec","position":{"x":296.0,"y":-288.0},"properties":{"groovyx-script-body":"import java.lang.StringBuilder\nimport java.sql.PreparedStatement\nimport java.sql.ResultSetMetaData\nimport org.postgresql.util.PGobject\nimport org.postgresql.util.PSQLException\nimport java.util.Map\nimport groovy.transform.Field\nimport groovy.sql.Sql\nimport groovy.json.JsonSlurper\n\n@Field JsonSlurper parser = new JsonSlurper()\n\n@Field Map config\n\n@Field var flowFile\n\nflowFile = session.get()\n\nif (!flowFile) {\n  return\n}\n\nconfig = parser.parseText(data_migration_config.value)\n\ndef processFilter(key, filter) {\n  if (!filter.active) {\n    return\n  }\n\n  var filtercond = []\n\n  if (filter.schema.include) {\n    filtercond.add(\"schema ~ '${filter.schema.include}'\".toString())\n  }\n\n  if (filter.schema.exclude) {\n    filtercond.add(\"schema !~ '${filter.schema.exclude}'\".toString())\n  }\n\n  if (filter.root.include) {\n    filtercond.add(\"root ~ '${filter.root.include}'\".toString())\n  }\n\n  if (filter.root.exclude) {\n    filtercond.add(\"root !~ '${filter.root.exclude}'\".toString())\n  }\n\n  if (filtercond.isEmpty()) {\n    filtercond.add(\"true\")\n  }\n\n  SQL.source.eachRow(\n    \"\"\"\n    with\n    relations as (\n      select\n        pg_namespace.nspname as table_schema,\n        parent.relname as parent,\n        child.relname as child\n      from pg_constraint\n      join pg_attribute on\n        pg_attribute.attrelid = pg_constraint.conrelid and\n        pg_attribute.attnum = any(pg_constraint.conkey) and\n        pg_constraint.contype = 'f' and\n        pg_attribute.attname = 'parent_id' and\n        pg_constraint.conrelid != pg_constraint.confrelid\n      join pg_class as parent on\n        parent.oid = pg_constraint.confrelid\n      join pg_class as child on\n        child.oid = pg_constraint.conrelid\n      join pg_namespace on\n        pg_namespace.oid = parent.relnamespace\n    ),\n    merged as (\n      select\n        tables.table_schema as schema,\n        tables.table_name as root,\n        tables.table_name as target\n      from information_schema.tables\n      left join relations on\n        relations.table_schema = tables.table_schema and\n        relations.child = tables.table_name\n      where\n        relations.child is null and\n        tables.table_type = 'BASE TABLE'\n      union all\n      select\n        table_schema as schema,\n        parent as root,\n        child as target\n      from relations\n    )\n    select\n      schema,\n      root,\n      jsonb_agg(target order by target) as targets\n    from merged where\n      ${filtercond.join(\" and \")}\n    group by schema, root\n    \"\"\".toString()\n  ) { row ->\n    var schema = row.schema\n    var root = row.root\n    var targets = parser.parseText(row.targets.toString())\n\n    var f = session.create(flowFile)\n    f = session.putAttribute(f, \"migration.schema\", schema)\n    f = session.putAttribute(f, \"migration.root\", root)\n    f = session.putAttribute(f, \"migration.targets\", row.targets.toString())\n    f = session.putAttribute(f, \"migration.filter\", key)\n    f = session.putAttribute(f, \"migration.ref\", \"00000000-0000-0000-0000-000000000000\")\n    f = session.putAttribute(f, \"migration.kind\", \"loop\")\n    session.transfer(f, REL_SUCCESS)\n  }\n}\n\n\nvar entry\n\ntry {\n  for (e in config.filters) {\n    entry = e\n    processFilter(e.key, e.value)\n  }\n  \n  session.remove(flowFile)\n} catch (e) {\n  log.error(\"Script error when processing filter {}\", entry.key, e)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","SQL.source":"1ad96102-42dc-3f54-b141-9362dddf5e9f","data_migration_config":"#{data_migration_config}"},"propertyDescriptors":{"groovyx-script-body":{"displayName":"Script Body","identifiesControllerService":false,"name":"groovyx-script-body","sensitive":false},"groovyx-failure-strategy":{"displayName":"Failure strategy","identifiesControllerService":false,"name":"groovyx-failure-strategy","sensitive":false},"SQL.source":{"displayName":"SQL.source","identifiesControllerService":true,"name":"SQL.source","sensitive":false},"groovyx-additional-classpath":{"displayName":"Additional classpath","identifiesControllerService":false,"name":"groovyx-additional-classpath","sensitive":false},"data_migration_config":{"displayName":"data_migration_config","identifiesControllerService":false,"name":"data_migration_config","sensitive":false},"groovyx-script-file":{"displayName":"Script File","identifiesControllerService":false,"name":"groovyx-script-file","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"INFO","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"PRIMARY","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"00d86c7c-c055-369e-99b8-bc7ddd07cda3","instanceIdentifier":"44633f9e-fca2-14c1-99be-728fa109cecf","maxBackoffPeriod":"10 mins","name":"GenerateFlowFile","penaltyDuration":"30 sec","position":{"x":296.0,"y":-488.0},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"File Size":{"displayName":"File Size","identifiesControllerService":false,"name":"File Size","sensitive":false},"mime-type":{"displayName":"Mime Type","identifiesControllerService":false,"name":"mime-type","sensitive":false},"generate-ff-custom-text":{"displayName":"Custom Text","identifiesControllerService":false,"name":"generate-ff-custom-text","sensitive":false},"Batch Size":{"displayName":"Batch Size","identifiesControllerService":false,"name":"Batch Size","sensitive":false},"Unique FlowFiles":{"displayName":"Unique FlowFiles","identifiesControllerService":false,"name":"Unique FlowFiles","sensitive":false},"Data Format":{"displayName":"Data Format","identifiesControllerService":false,"name":"Data Format","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"bc4bc143-ecf7-31d7-838b-a0943dc90a0d","instanceIdentifier":"987e3bc9-287a-194f-a1ab-6c1b32f256f6","maxBackoffPeriod":"10 mins","name":"Rate-limited retry","penaltyDuration":"30 sec","position":{"x":912.0,"y":520.0},"properties":{"Time Duration":"1 min","Maximum Rate":"100MB","Rate Control Criteria":"data rate"},"propertyDescriptors":{"Maximum FlowFile Rate":{"displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"name":"Maximum FlowFile Rate","sensitive":false},"Time Duration":{"displayName":"Time Duration","identifiesControllerService":false,"name":"Time Duration","sensitive":false},"Grouping Attribute":{"displayName":"Grouping Attribute","identifiesControllerService":false,"name":"Grouping Attribute","sensitive":false},"Maximum Rate":{"displayName":"Maximum Rate","identifiesControllerService":false,"name":"Maximum Rate","sensitive":false},"Rate Controlled Attribute":{"displayName":"Rate Controlled Attribute","identifiesControllerService":false,"name":"Rate Controlled Attribute","sensitive":false},"Rate Control Criteria":{"displayName":"Rate Control Criteria","identifiesControllerService":false,"name":"Rate Control Criteria","sensitive":false},"Maximum Data Rate":{"displayName":"Maximum Data Rate","identifiesControllerService":false,"name":"Maximum Data Rate","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ControlRate","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"11d1ae5e-286a-3062-9ac3-806ccaa2aeba","instanceIdentifier":"1954302b-46f0-1bb7-9951-eeb29f71ee1c","maxBackoffPeriod":"10 mins","name":"Rate-limited retry","penaltyDuration":"30 sec","position":{"x":912.0,"y":-288.0},"properties":{"Time Duration":"1 min","Maximum Rate":"100","Rate Control Criteria":"flowfile count"},"propertyDescriptors":{"Maximum FlowFile Rate":{"displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"name":"Maximum FlowFile Rate","sensitive":false},"Time Duration":{"displayName":"Time Duration","identifiesControllerService":false,"name":"Time Duration","sensitive":false},"Grouping Attribute":{"displayName":"Grouping Attribute","identifiesControllerService":false,"name":"Grouping Attribute","sensitive":false},"Maximum Rate":{"displayName":"Maximum Rate","identifiesControllerService":false,"name":"Maximum Rate","sensitive":false},"Rate Controlled Attribute":{"displayName":"Rate Controlled Attribute","identifiesControllerService":false,"name":"Rate Controlled Attribute","sensitive":false},"Rate Control Criteria":{"displayName":"Rate Control Criteria","identifiesControllerService":false,"name":"Rate Control Criteria","sensitive":false},"Maximum Data Rate":{"displayName":"Maximum Data Rate","identifiesControllerService":false,"name":"Maximum Data Rate","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ControlRate","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"e9609ff2-9523-368a-a12d-10641469971a","instanceIdentifier":"11da7ddb-3511-1593-ffff-ffffd846e1ae","maxBackoffPeriod":"10 mins","name":"loop","penaltyDuration":"30 sec","position":{"x":296.0,"y":120.0},"properties":{"Routing Strategy":"Route to 'match' if all match","loop":"${migration.kind:equals(\"loop\")}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"loop":{"displayName":"loop","identifiesControllerService":false,"name":"loop","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-groovyx-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":32,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"69c7022b-2c36-3603-b26c-884d0d3bcced","instanceIdentifier":"33fb3130-6478-191d-8f64-df29ab6d0859","maxBackoffPeriod":"10 mins","name":"Execute select queries","penaltyDuration":"30 sec","position":{"x":296.0,"y":320.0},"properties":{"groovyx-script-body":"import java.lang.StringBuilder\nimport java.sql.PreparedStatement\nimport java.sql.ResultSetMetaData\nimport org.postgresql.util.PGobject\nimport org.postgresql.util.PSQLException\nimport java.util.Map\nimport groovy.transform.Field\nimport groovy.sql.Sql\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n\n@Field JsonSlurper parser = new JsonSlurper()\n@Field JsonOutput writer = new JsonOutput()\n\n@Field Map config\n\n@Field var flowFile\n\n@Field var schema\n@Field var root\n@Field var targets\n@Field var filterkey\n@Field var filter\n@Field var select\n@Field var refMin\n@Field var refMax\n\nflowFile = session.get()\n\nif (!flowFile) {\n  return\n}\n\n\nconfig = parser.parseText(data_migration_config.value)\n\nschema = flowFile.getAttribute(\"migration.schema\")\nroot = flowFile.getAttribute(\"migration.root\")\ntargets = parser.parseText(flowFile.getAttribute(\"migration.targets\"))\nfilterkey = flowFile.getAttribute(\"migration.filter\")\nfilter = config.filters[filterkey]\n\nrefMin = flowFile.getAttribute(\"migration.ref.min\")\nrefMax = flowFile.getAttribute(\"migration.ref.max\")\n\nselect = config.select.default\n\nvar selectkey = schema + \".\" + root\n\nif (config.select[selectkey]) {\n  var override = config.select[selectkey]\n  if (override.lookahead) {\n    select.lookahead = override.lookahead\n  }\n  if (override.limit) {\n    select.limit = override.limit\n  }\n}\n\nif (!filter) {\n  log.error(\"unknown filter {}\", filterkey)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n  return\n}\n\nif (!filter.active) {\n  log.error(\"inactive filter {}\", filterkey)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n  return\n}\n\ndef processFilter() {\n  var results = []\n  var roots = [:]\n  Set unreferenced = []\n\n  SQL.source.eachRow(\n    \"\"\"\n    select\n      root.id,\n      to_jsonb(root.*) as entry\n    from ${schema}.${root} as root where\n      ${filter.filter} and id > '${refMin}' and id <= '${refMax}'\n    \"\"\".toString()\n  ) { row ->\n    roots[row.id] = parser.parseText(row.entry.toString())\n    unreferenced.add(row.id)\n  }\n\n  var current\n\n  for (var target in targets) {\n    if (target.equals(root)) {\n      continue\n    }\n\n    SQL.source.eachRow(\n      \"\"\"\n      select\n        nested.parent_id,\n        to_jsonb(nested.*) as entry\n      from ${schema}.${root} as root\n      join ${schema}.${target} as nested on\n        nested.parent_id = root.id and\n        ${filter.filter} and\n        root.id > '${refMin}' and\n        root.id <= '${refMax}'\n      \"\"\".toString()\n    ) { row ->\n      if (!current || total >= select.limit) {\n        if (current) {\n          results.addAll(current)\n        }\n\n        current = [:].withDefault { k ->\n          unreferenced.remove(k)\n          return [\"root\": roots[k]].withDefault { nk -> [] }\n        }\n\n        total = 0\n      }\n\n      current[row.parent_id][target].add(parser.parseText(row.entry.toString()))\n      total++\n    }\n  }\n\n  if (!current) {\n    current = [:].withDefault{ k -> [\"root\":roots[k]] }\n  }\n\n  for (var id in unreferenced.clone()) {\n    current[id]\n  }\n\n  if (current && current.size() > 0) {\n    results.add(current)\n  }\n\n  for (var result : results) {\n    var f = session.create(flowFile)\n    f = session.putAttribute(f, \"mime.type\", \"application/json\")\n    session.write(\n      f,\n      (OutputStreamCallback) (    \n        o -> o.write(writer.toJson(result.values()).getBytes())\n      )\n    )\n    session.transfer(f, REL_SUCCESS)\n  }\n}\n\n\ntry {\n  processFilter()\n\n  session.remove(flowFile)\n} catch (e) {\n  log.error(\"Script error when processing filter {} for {} in range {} ~ {}\", filterkey, root, refMin, refMax, e)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","SQL.source":"1ad96102-42dc-3f54-b141-9362dddf5e9f","data_migration_config":"#{data_migration_config}"},"propertyDescriptors":{"groovyx-script-body":{"displayName":"Script Body","identifiesControllerService":false,"name":"groovyx-script-body","sensitive":false},"groovyx-failure-strategy":{"displayName":"Failure strategy","identifiesControllerService":false,"name":"groovyx-failure-strategy","sensitive":false},"SQL.source":{"displayName":"SQL.source","identifiesControllerService":true,"name":"SQL.source","sensitive":false},"groovyx-additional-classpath":{"displayName":"Additional classpath","identifiesControllerService":false,"name":"groovyx-additional-classpath","sensitive":false},"data_migration_config":{"displayName":"data_migration_config","identifiesControllerService":false,"name":"data_migration_config","sensitive":false},"groovyx-script-file":{"displayName":"Script File","identifiesControllerService":false,"name":"groovyx-script-file","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"a96bbe33-6046-3c01-86dc-a5107197cd0c","instanceIdentifier":"11da3854-3511-1593-93c6-d75d2837427a","maxBackoffPeriod":"10 mins","name":"Rate-limited retry","penaltyDuration":"30 sec","position":{"x":912.0,"y":-72.0},"properties":{"Time Duration":"1 min","Maximum Rate":"100MB","Rate Control Criteria":"data rate"},"propertyDescriptors":{"Maximum FlowFile Rate":{"displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"name":"Maximum FlowFile Rate","sensitive":false},"Time Duration":{"displayName":"Time Duration","identifiesControllerService":false,"name":"Time Duration","sensitive":false},"Grouping Attribute":{"displayName":"Grouping Attribute","identifiesControllerService":false,"name":"Grouping Attribute","sensitive":false},"Maximum Rate":{"displayName":"Maximum Rate","identifiesControllerService":false,"name":"Maximum Rate","sensitive":false},"Rate Controlled Attribute":{"displayName":"Rate Controlled Attribute","identifiesControllerService":false,"name":"Rate Controlled Attribute","sensitive":false},"Rate Control Criteria":{"displayName":"Rate Control Criteria","identifiesControllerService":false,"name":"Rate Control Criteria","sensitive":false},"Maximum Data Rate":{"displayName":"Maximum Data Rate","identifiesControllerService":false,"name":"Maximum Data Rate","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ControlRate","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-groovyx-nar","group":"org.apache.nifi","version":"1.24.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":32,"executionNode":"ALL","groupIdentifier":"48c9c4ea-341e-30a2-82c2-974fcb2153c8","identifier":"554e4174-a8b5-3d35-b9ec-f512f57b1ba6","instanceIdentifier":"9f173c3a-33e5-1291-972b-1e6153c6dca1","maxBackoffPeriod":"10 mins","name":"Insert data into target","penaltyDuration":"30 sec","position":{"x":296.0,"y":520.0},"properties":{"groovyx-script-body":"import java.lang.StringBuilder\nimport java.sql.PreparedStatement\nimport java.sql.ResultSetMetaData\nimport org.postgresql.util.PGobject\nimport org.postgresql.util.PSQLException\nimport java.util.Map\nimport groovy.transform.Field\nimport groovy.sql.Sql\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n\n@Field JsonSlurper parser = new JsonSlurper()\n@Field JsonOutput writer = new JsonOutput()\n\n@Field Map config\n\n@Field var flowFile\n\n@Field var schema\n@Field var root\n@Field var targets\n@Field var filterkey\n@Field var filter\n@Field var insert\n\nflowFile = session.get()\n\nif (!flowFile) {\n  return\n}\n\n\nconfig = parser.parseText(data_migration_config.value)\n\nschema = flowFile.getAttribute(\"migration.schema\")\nroot = flowFile.getAttribute(\"migration.root\")\ntargets = parser.parseText(flowFile.getAttribute(\"migration.targets\"))\nfilterkey = flowFile.getAttribute(\"migration.filter\")\nfilter = config.filters[filterkey]\ninsert = config.insert\n\nif (!filter) {\n  log.error(\"unknown filter {}\", filterkey)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n  return\n}\n\nif (!filter.active) {\n  log.error(\"inactive filter {}\", filterkey)\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n  return\n}\n\ndef processFilter(rows, attempt) {\n  var excludes = [:]\n  var columns = [:]\n\n  SQL.target.eachRow(\n    \"\"\"\n    select\n      table_name,\n      string_agg(column_name || ' = excluded.' || column_name, E',\\\\n    ') filter (where column_name not in ('id', 'parent_id')) as exclude,\n      string_agg(column_name, ',') as columns\n    from information_schema.columns where\n      table_schema = '${schema}' and\n      table_name = any('{${targets.join(\",\")}}') and\n      is_generated != 'ALWAYS' and\n      is_generated != 'NO'\n    group by table_name\n    \"\"\".toString()\n  ) { row ->\n    excludes[row.table_name] = row.exclude\n    columns[row.table_name] = row.columns\n  }\n\n  var statements = []\n\n  statements.add(\n    \"\"\"\n    ${root}_data as (\n      select (jsonb_populate_record(null::${schema}.${root}, (select data->'root'))).* from rowdata\n    ),\n    ${root} as (\n      insert into ${schema}.${root}(${columns[root]})\n      select ${columns[root]} from ${root}_data\n      on conflict(id) do update set\n        ${excludes[root]}\n    )\n    \"\"\".toString().stripIndent().trim()\n  )\n\n  for (var target in targets) {\n    if (target.equals(root)) {\n      continue\n    }\n\n    statements.add(\n      \"\"\"\n      ${target}_data as (\n        select (jsonb_populate_recordset(null::${schema}.${target}, coalesce((select data->'${target}'), '[]'))).* from rowdata\n      ),\n      ${target} as (\n        insert into ${schema}.${target}(${columns[target]})\n        select ${columns[target]} from ${target}_data\n        on conflict(id) do update set\n          ${excludes[target]}\n      )\n      \"\"\".toString().stripIndent().trim()\n    )\n  }\n\n  var q = \"\"\"\n  with\n  batch(data) as (\n    select cast(? as jsonb)\n  ),\n  rowdata(data) as (\n    select jsonb_array_elements(data) from batch\n  ),\n  ${statements.join(\",\")}\n  select 1\n  \"\"\".toString()\n\n  try {\n    SQL.target.execute(q, [rows]) \n  } catch (e) {\n    log.error(\"error executing {}\", q, e)\n    flowFile = session.putAttribute(flowFile, \"migration.attempt\", (attempt+1).toString())\n    throw e\n  }\n}\n\n\nvar attempt\nvar rows\nvar parsed\n\ntry {\n  ByteArrayOutputStream bs = new ByteArrayOutputStream()\n  session.exportTo(flowFile, bs)\n\n  rows = bs.toString()\n\n  attempt = Integer.parseInt(flowFile.getAttribute(\"migration.attempt\") ?: \"0\")\n\n  if (\"true\".equals(flowFile.getAttribute(\"migration.reset_id\"))) {\n    parsed = parser.parseText(rows)\n    var res = SQL.target.firstRow(\"select public.ulid_generate() as id, now() at time zone 'utc' as now\")\n    log.warn(\"Correcting bogus id for {}.{}: {} ({}) -> {} ({})\", schema, root, parsed[0].root.id, parsed[0].root.created_date, res.id, res.now)\n    parsed[0].root.id = res.id\n    parsed[0].root.created_date = res.now\n    for (entry in parsed[0]) {\n      if (entry.key.equals(\"root\")) {\n        continue\n      }\n      for (var v in entry.value) {\n        v.parent_id = res.id\n      }\n    }\n    rows = writer.toJson(parsed)\n  }\n\n  processFilter(rows, attempt)\n  \n  //session.remove(flowFile)\n  session.transfer(flowFile, REL_SUCCESS)\n} catch (e) {\n  var skip = false\n  var resetid = false\n\n  if (e instanceof org.postgresql.util.PSQLException) {\n    if (e.getServerErrorMessage() != null) {\n      var hint = (e.getServerErrorMessage().getHint() ?: \"\").toString()\n      if (insert.skip_obsolete_dictionaries && \"dict_has_newer_record\".equals(hint)) {\n        log.warn(\"Obsolete dictionary entry skipped\", e)\n        skip = true\n      } else if (insert.correct_bogus_ids && hint.startsWith(\"Either issue new id\")) {\n        resetid = true\n      }\n    }\n  }\n\n  log.error(\"Script error when processing filter {} for {} (attempt {})\", filterkey, root, attempt, e)\n\n  if ((attempt >= insert.attempts || resetid) && insert.split) {\n    if (!parsed) {\n      parsed = parser.parseText(rows)\n    }\n\n    if (parsed.size() > 1) {\n      if (resetid) {\n        for (var el : parsed) {\n          var f = session.create(flowFile)\n          f = session.putAttribute(f, \"migration.attempt\", \"0\")\n          session.write(f, (OutputStreamCallback) (o -> o.write(writer.toJson([el]).getBytes())))\n          f = session.penalize(f)\n          session.transfer(f, REL_FAILURE)\n        }\n\n        session.remove(flowFile)\n\n        return\n      }\n\n      var a = parsed.subList(0, parsed.size().intdiv(2))\n      var b = parsed.subList(parsed.size().intdiv(2), parsed.size())\n\n      var fa = session.create(flowFile)\n      //fa = session.putAttribute(fa, \"migration.attempt\", \"0\")\n      session.write(fa, (OutputStreamCallback) (o -> o.write(writer.toJson(a).getBytes())))\n      fa = session.penalize(fa)\n      session.transfer(fa, REL_FAILURE)\n\n      var fb = session.create(flowFile)\n      //fb = session.putAttribute(fb, \"migration.attempt\", \"0\")\n      session.write(fb, (OutputStreamCallback) (o -> o.write(writer.toJson(b).getBytes())))\n      fb = session.penalize(fb)\n      session.transfer(fb, REL_FAILURE)\n\n      session.remove(flowFile)\n      \n      return \n    } else if (parsed.size() == 1 && resetid) {\n      flowFile = session.putAttribute(flowFile, \"migration.reset_id\", \"true\")\n    }\n  }\n\n  if (skip) {\n    session.remove(flowFile)\n    return\n  }\n\n  flowFile = session.penalize(flowFile)\n  session.transfer(flowFile, REL_FAILURE)\n}","groovyx-failure-strategy":"rollback","data_migration_config":"#{data_migration_config}","SQL.target":"893055c5-0520-3843-b42a-ce15fefe4af6"},"propertyDescriptors":{"groovyx-script-body":{"displayName":"Script Body","identifiesControllerService":false,"name":"groovyx-script-body","sensitive":false},"groovyx-failure-strategy":{"displayName":"Failure strategy","identifiesControllerService":false,"name":"groovyx-failure-strategy","sensitive":false},"groovyx-additional-classpath":{"displayName":"Additional classpath","identifiesControllerService":false,"name":"groovyx-additional-classpath","sensitive":false},"data_migration_config":{"displayName":"data_migration_config","identifiesControllerService":false,"name":"data_migration_config","sensitive":false},"SQL.target":{"displayName":"SQL.target","identifiesControllerService":true,"name":"SQL.target","sensitive":false},"groovyx-script-file":{"displayName":"Script File","identifiesControllerService":false,"name":"groovyx-script-file","resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]},"sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{"sss":"ddd"}},"flowEncodingVersion":"1.0","parameterContexts":{"rms_data_migration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":["rms"],"name":"rms_data_migration","parameters":[{"description":"","name":"postgres_target_connections","provided":false,"sensitive":false,"value":"32"},{"description":"","name":"postgres_source_url","provided":false,"sensitive":false,"value":"jdbc:postgresql://fk-eb-rms-dev-postgres.otr.ru:5432/rms_test"},{"description":"","name":"postgres_target_url","provided":false,"sensitive":false,"value":"jdbc:postgresql://fk-eb-rms-dev-postgres.otr.ru:5432/rms_next"},{"description":"","name":"data_migration_config","provided":false,"sensitive":false,"value":"{\n  \"filters\": {\n    \"all_documents\": {\n      \"active\": true,\n      \"schema\": {\n        \"include\": \"^(bra|bsp|rca|ref)$\"\n      },\n      \"root\": {\n        \"include\": \"^doc_.*$\",\n        \"exclude\": \"^(doc_status|doc_d_011_excess|doc_d_032)$\"\n      },\n      \"filter\": \"root.tofk in ('6000', '2800') and root.document_date >= '2024-01-01'\"\n    },\n    \"all_dictionaries\":\t{\n      \"active\": true,\n      \"schema\": {\n        \"include\": \"^(bra|bsp|rca|ref)$\"\n      },\n      \"root\": {\n        \"include\": \"^dict_.*$\",\n        \"exclude\": \"^(dict_status|dict_control|dict_feature|dict_subscription|dict_shard|dict_profile_.*|dict_operation|dict_print_.*)$\"\n      },\n      \"filter\": \"true\"\n    }\n  },\n  \"select\": {\n    \"default\": {\n      \"lookahead\": 1000,\n      \"limit\": 1000\n    },\n    \"bsp.doc_d_016\": {\n      \"lookahead\": 100\n    },\n    \"bsp.doc_d_019\": {\n      \"lookahead\": 100\n    }\n  },\n  \"insert\": {\n    \"attempts\": 3,\n    \"split\": true,\n    \"correct_bogus_ids\": true,\n    \"skip_obsolete_dictionaries\": true\n  }\n}"},{"description":"","name":"postgres_target_password","provided":false,"sensitive":true},{"description":"","name":"postgres_source_password","provided":false,"sensitive":true},{"description":"","name":"postgres_source_connections","provided":false,"sensitive":false,"value":"32"},{"description":"","name":"postgres_source_user","provided":false,"sensitive":false,"value":"rms_client"},{"description":"","name":"postgres_target_user","provided":false,"sensitive":false,"value":"rms_dba"}]},"rms":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"rms","parameters":[{"description":"","name":"postgres_user","provided":false,"sensitive":false,"value":"rms_client"},{"description":"","name":"postgres_class","provided":false,"sensitive":false,"value":"org.postgresql.Driver"},{"description":"","name":"postgres_view_urls","provided":false,"sensitive":false,"value":"jdbc:postgresql://fk-eb-rms-dev-postgres.otr.ru:5432/"},{"description":"","name":"clickhouse_driver","provided":false,"sensitive":false,"value":"/u01/nifi/nifi-current/lib/clickhouse-jdbc-v2-0.8.4-all.jar"},{"description":"","name":"postgres_connections","provided":false,"sensitive":false,"value":"32"},{"description":"","name":"clickhouse_url","provided":false,"sensitive":false,"value":"jdbc:clickhouse://fk-eb-rms-dev-clickhouse-data-1.otr.ru:8123"},{"description":"","name":"clickhouse_class","provided":false,"sensitive":false,"value":"com.clickhouse.jdbc.Driver"},{"description":"","name":"postgres_url","provided":false,"sensitive":false,"value":"jdbc:postgresql://fk-eb-rms-dev-postgres.otr.ru:5432"},{"description":"","name":"postgres_exclude_tables","provided":false,"sensitive":false,"value":"doc_d_019,doc_d_019_entry"},{"description":"","name":"postgres_schemas","provided":false,"sensitive":false,"value":"bra,bsp,rca,ref"},{"description":"","name":"clickhouse_view_parallel","provided":false,"sensitive":false,"value":"4"},{"description":"","name":"postgres_database","provided":false,"sensitive":false,"value":"rms"},{"description":"","name":"clickhouse_view_urls","provided":false,"sensitive":false,"value":"jdbc:clickhouse://fk-eb-rms-dev-clickhouse-data-1.otr.ru:8123,jdbc:clickhouse://fk-eb-rms-dev-clickhouse-data-2.otr.ru:8123"},{"description":"","name":"postgres_password","provided":false,"sensitive":true},{"description":"","name":"clickhouse_connections","provided":false,"sensitive":false,"value":"32"},{"description":"","name":"lookback_min_date","provided":false,"sensitive":false,"value":"1970-01-01"},{"description":"","name":"postgres_migration_user","provided":false,"sensitive":false,"value":"rms_dba"},{"description":"","name":"role","provided":false,"sensitive":false,"value":"master"},{"description":"","name":"postgres_driver","provided":false,"sensitive":false,"value":"/u01/nifi/nifi-current/lib/postgresql-42.7.1.jar"},{"description":"","name":"partition_results_limit","provided":false,"sensitive":false,"value":"100"},{"description":"","name":"postgres_archive_database","provided":false,"sensitive":false,"value":"rms"},{"description":"","name":"clickhouse_user","provided":false,"sensitive":false,"value":"pud"},{"description":"","name":"lookback_seconds","provided":false,"sensitive":false,"value":"18000"},{"description":"","name":"clickhouse_view_exclude_tables","provided":false,"sensitive":false},{"description":"","name":"concurrency_postgres_queries","provided":false,"sensitive":false,"value":"1"},{"description":"","name":"postgres_include_views","provided":false,"sensitive":false,"value":"doc_d_019_diagnostic,doc_d_019_operation,dict_nsi_011_unclassified_federal_bcc"},{"description":"","name":"cleanup_configuration","provided":false,"sensitive":false,"value":"{\n  \"arp.doc_r_001\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_002\": {\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_003\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_004\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_005\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_006\": {\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_007\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_010\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_011\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_012\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_013\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_014\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_016\": {\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_017\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_018\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_019\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_020\": {\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_021\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_r_022\": {\n    \"interval\": {\n      \"value\": \"14 days\",\n      \"actions\": [\"await_migration\", \"delete_nested\", \"cancel\"],\n      \"condition\": \"parent.status != 'REGISTERED'\"\n    },\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_d_041\": {\n    \"deleted\": {\"actions\": [\"delete_nested\", \"delete\"]}\n  },\n  \"arp.doc_reconciliation\": {\n    \"interval\": {\"value\": \"7 days\", \"actions\": [\"delete\"]},\n    \"deleted\": {\"actions\": [\"delete\"]}\n  }\n}"},{"description":"","name":"clickhouse_parameters","provided":false,"sensitive":false,"value":"?socket_timeout=300000"},{"description":"","name":"partition_size","provided":false,"sensitive":false,"value":"1000"},{"description":"","name":"clickhouse_cluster","provided":false,"sensitive":false,"value":"{\"default\": \"sharded:cluster_sharded\",\"ref\": \"replicated:cluster_replicated:memory\"}"},{"description":"","name":"clickhouse_method","provided":false,"sensitive":false,"value":"optimize"},{"description":"","name":"clickhouse_password","provided":false,"sensitive":true},{"description":"","name":"postgres_archive_url","provided":false,"sensitive":false,"value":"jdbc:postgresql://fk-eb-rms-dev-postgres.otr.ru:5432"},{"description":"","name":"split_error_batches","provided":false,"sensitive":false,"value":"true"},{"description":"","name":"postgres_cleanup_urls","provided":false,"sensitive":false,"value":"jdbc:postgresql://fk-eb-rms-dev-postgres.otr.ru:5432/"}]}},"parameterProviders":{},"snapshotMetadata":{"author":"anonymous","comments":"Fix select overrides","timestamp":1772215832335,"version":2}}